.loader-active {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 100px;
    height: 50px;
    animation: fadeOut 1s 1s;
    animation-fill-mode: forwards;
}

.projects-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 30%;
        transform: translateY(-50%);
        width: 50%;
        max-height: 90%;
    }

    h1 {
        color: #FFFFFF;
        font-size: 60px;
        font-weight: 400;
    }

    p {
        color: #FFFFFF;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .pic-container {
        margin-top: 0;
        margin-left: 45%;
    }
}


