.text-animate {
    display: inline-block;
    opacity: 0;
    animation: fadeInUp 0.1s forwards;
    min-width: 10px;
}

.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: #92BFFF;
    }
}

@for $i from 1 through 42 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 40}s;
    }
}