.container {
    display: flex;
    position: absolute;
    opacity: 0;
    top: 20%;
    transform-style: preserve-3d;
    animation: fadeInUp 0.3s forwards;
}

.home-page,
.about-page,
.projects-page,
.contact-page {
    .text-zone {
        min-width: 450px;
        padding-left: 30%;
        padding-right: 40%;
        h1 {
            font-size: 6em;
            color: #FFFFFF;
            font-weight: 400;
            position: relative;
            user-select: none;
        }

        p {
            font-size: 2rem;
            color: #FFFFFF;
            font-family: sans-serif;
            font-weight: 300;
            min-width: fit-content;
            animation: fadeInUp 0.3s forwards;
        }
    }

    .text-animate-hover {
        &:hover {
            color: #92BFFF
        }
    }
}

@media screen and (max-width: 1450px) {
    .container {
        flex-direction: column;
        width: 80%;
        height: 40%;
        position: absolute;
        opacity: 0;
        top: 20%;
        padding-left: 10%;
        transform-style: preserve-3d;
        animation: fadeInUp 0.3s forwards;
    }

    .home-page,
    .about-page,
    .projects-page,
    .contact-page {
        .text-zone {
            padding-left: 15%;
            h1 {
                font-size: 6em;
                color: #FFFFFF;
                font-weight: 400;
                position: relative;
                user-select: none;
            }

            p {
                font-size: 2rem;
                color: #FFFFFF;
                font-family: sans-serif;
                font-weight: 300;
                min-width: fit-content;
                animation: fadeInUp 0.3s forwards;
            }
        }

        .text-animate-hover {
            &:hover {
                color: #92BFFF
            }
        }
    }
}